.tile-with-basket{
display: flex;
flex-direction: row;
}

.tile-item__wrapper{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: flex-start;
    max-width: 80%;
}

.tile-item{
    width: 23%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 10px;
    border-radius: 10px;
    align-items: center;
    position: relative;
    padding-bottom: 100px;
    text-decoration: none;
    box-shadow: 0px 23px 23px rgba(0,0,0, 0.15);
}

.tile-item:hover{
    border: 1px solid #D9DADB;
    cursor: pointer;
}

.tile-item__image{

}

.tile-item__image img{
    margin: 10px 10px 10px 10px;
    width: 200px;
    height: 200px;
}

.tile-item__name{
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.tile-item__name__new-btn{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    color: black;
    background-color: darkkhaki;
    border-radius: 5px;
}
.tile-item__desc{
    text-align: center;
    padding: 5px 5px 5px 5px;
    color: black;
    text-decoration: none;
}

.tile-item__action{
    position: absolute;
    bottom: 50px;
}

.tile-item__action__btn{
    border-radius: 10px;
    height: 40px;
    border: none;
    width: 220px;
    height: 35px;
    color: white;
    background: green;
}

.tile-item__action__btn__Title{
    padding-right: 30px;
}

.tile-item__action__btn__price{

}

.tile-edit-delete-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile-edit-btn{

}

.tile-delete-btn{

}

.tile-edit-img{

}

.tile-delete-img{

}

/* basket css */
.basket-container{
    max-height: 600px;
}

.place-order{

}

.place-order__btn{
    border-radius: 10px;
    /* height: 40px; */
    border: none;
    width: 220px;
    height: 35px;
    color: white;
    background: green;
}

.place-order__btn__itemcount{
    padding-right: 30px;
}

.place-order__btn__Title{
    padding-right: 30px;
}

.place-order__btn__totalprice{

}

.basket-container{
    overflow: scroll;
}

.cart-item-container{
    padding-left: 0px;
}

.cart-item{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.cart-item__image{
    height: 40px;
    width: 40px;
}

.cart-item__closeimg{
    width: 17px;
    height: 17px;
}

.cart-item__closebtn{
    width: 30px;
    height: 30px;
    border: none;
    background: white;
}